.notify {
    padding: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border: 1px solid rgb(255, 80, 80);
    border-radius: 8px;
    width: auto;
    height: auto;
    max-width: 300px;
}