.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: white;
    max-width: 360px;
    border-radius: 8px;
}